.icon-arrow-right:before {
    content: "\e900";
}
.icon-basket:before {
    content: "\e901";
    color: #fff;
}
.icon-clock:before {
    content: "\e902";
}
.icon-envelope:before {
    content: "\e903";
}
.icon-magnifying-glass:before {
    content: "\e904";
}
.icon-phone-tube:before {
    content: "\e905";
}
.icon-phone-tube-thin:before {
    content: "\e906";
}
.icon-pointer:before {
    content: "\e907";
}
.icon-arrow_up:before {
    content: "\e908";
}
.icon-arrow_right:before {
    content: "\e909";
}
.icon-arrow_left:before {
    content: "\e90a";
}
.icon-arrow_down:before {
    content: "\e90b";
}
